@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
    <meta http-equiv=X-UA-Compatible content="ie=edge">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=blank-translucent>
    <title>Vue-随手记</title>
    <link href=~/css/app.781c219b7d2e36d1ce7ee49db2e920b3.css rel=stylesheet>
</head>
<body>
    <div id=app></div>
    <script type=text/javascript src=~/js/manifest.a335b9d24d9f5ec53783.js></script>
    <script type=text/javascript src=~/js/vendor.03737e41e0b0f594efae.js></script>
    <script type=text/javascript src=~/js/app.4203a8f150ab531b6f9a.js></script>
</body>
</html>