@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
    <meta http-equiv=X-UA-Compatible content="ie=edge">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=blank-translucent>
    <title>Vue-随手记</title>
    <link href=./css/app.1200c98f3a9e5c3f54c2b3ed8aad6e18.css rel=stylesheet>
</head>
<body>
    <div id=app></div>
    <script type=text/javascript src=./js/manifest.369778079c5c492831d3.js></script>
    <script type=text/javascript src=./js/vendor.03737e41e0b0f594efae.js></script>
    <script type=text/javascript src=./js/app.a33bea4fc84dc2cc579b.js></script>
</body>
</html>