@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
    <meta http-equiv=X-UA-Compatible content="ie=edge">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=blank-translucent>
    <title>Vue-随手记</title>
    <link href=./css/app.409c152165a6bd5eaf5f840215d874e6.css rel=stylesheet>
</head>
<body>
    <div id=app></div>
    <script type=text/javascript src=./js/manifest.eb89772c1a9c508dabd6.js></script>
    <script type=text/javascript src=./js/vendor.03737e41e0b0f594efae.js></script>
    <script type=text/javascript src=./js/app.9fe12c1179376d75d615.js></script>
</body>
</html>